In [1]:
import pandas as pd
df = pd.read_excel('data/jb_orders.xlsx')
df

,Unnamed: 0,Nickname,Phone Number,Order Number,Amount,Discount Amount,Total Amount,Paid?,Payment Method,Item,Discount Code,JB Vendor,Vendor Address,Vendor District
0,1,NaN,NaN,JUST_20210325_42C93077BFE1,22,22,0,True,Referral,jianbing,JUST_B81SSZHW,Wuding & Changde Jianbing,"Wuding Lu 1103, Shanghai",Jingan
1,2,Aggy,1.862187e+10,JUST_20210325_1D28FC1F2D56,25,0,25,True,WeChat Pay,jianbing,NaN,Wuding & Changde Jianbing,"Wuding Lu 1103, Shanghai",Jingan

In [2]:
df.dtypes

Unnamed: 0           int64
Nickname            object
Phone Number       float64
Order Number        object
Amount               int64
Discount Amount      int64
Total Amount         int64
Paid?                 bool
Payment Method      object
Item                object
Discount Code       object
JB Vendor           object
Vendor Address      object
Vendor District     object
dtype: object